* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background-color:#f5fffa;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.profile-img {
    border-radius: 50%;
    width: 500px;
    border: 3px solid black;
}

.profile-name {
    font-size: 80px;
    margin-bottom: 10px;
}

.Link {
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    display: flex;
    height: 240px;
    justify-content: center;
    max-width: 750px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.link-icon {
    width: 80px;
    position: absolute;
    left: 15px;
}

.multiline {
    white-space: pre-wrap;
    padding-bottom: 20px;
    font-size: 30px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-wrap: wrap;
}

.flexcontainer {
    height: 150px;
    width: 150px;
    justify-content: space-evenly;
    justify-content: left;
    display: flex;
    flex-direction: row;
    position: absolute;
}

